{% extends "base.html.twig" %}
{% trans_default_domain('mailing') %}

{% block body %}

	<div class="container-fluid">
		<div class="row mt-3">
			<div class="col-12">
				<h1>
					<i class="fa fa-envelope"></i>
					{% trans %}Mailing management{% endtrans %}</h1>
			</div>
		</div>
		<div class="row mt-3">
			<div class="col-12 col-md-3 offset-md-3">
				<div class="card">
					<div class="card-body">
						<div class="text-center">
							<i class="fas fa-mail-bulk display-1 text-primary"></i>
							<h3 class="card-title">{% trans %}Modeles{% endtrans %}</h3>
						</div>
						<p class="card-text">{% trans %}Modele are data configuration of mail. It's based on data can be configure by user.{% endtrans %}</p>
						<a href="{{ path('ics-mailing-modele-homepage') }}" class="btn btn-primary w-100">
							<i class="fa fa-arrow-right"></i>
							{% trans %}Manage modeles{% endtrans %}</a>
					</div>
				</div>
			</div>
			<div class="col-12 col-md-3">
				<div class="card">
					<div class="card-body">
						<div class="text-center">
							<i class="fas fa-palette display-1 text-info"></i>
							<h3 class="card-title">{% trans %}Templates{% endtrans %}</h3>
						</div>
						<p class="card-text">{% trans %}Template are graphical appearence of mail. It's based on a twig template.{% endtrans %}</p>
						<a href="{{ path('ics-mailing-template-homepage') }}" class="btn btn-primary w-100">
							<i class="fa fa-arrow-right"></i>
							{% trans %}Manage template{% endtrans %}</a>
					</div>
				</div>
			</div>
		</div>

	{% endblock %}
