{% block mailTitle %}
    <h1>Titre de mail</h1>
{% endblock %}

{% block mailContent %}
    <div class="">
        {{ logo }}
        Corps du message
        {{ title }}
        <hr/>
        {{ signature }}
    </div>
{% endblock %}