{% block mailTitle %}
    <h1>Titre de mail</h1>
{% endblock %}

{% block mailContent %}
    <div class="">
        Corps du message
        <img width="300px" src="cid:attachement_1"/>{{ imgSouce }}
        {{title}}
    </div>
{% endblock %}